.collection-item {
  width: 22vw;
  display: flex;
  flex-direction: column;
  height: 350px;
  position: relative;
  align-items: center;


  @media screen  and (max-width:800px){
    width: 50vw;
  display: block;
  
  position: relative;
  align-items: center;
  margin :20px;
  }

  .image {
    width: 100%;
    height: 95%;
    background-size: contain;
    background-position: center;
    margin-bottom: 5px;
    @media screen and (max-width:800px) {
      background-size:100% 100%;
    }
  }

  .custom-button{
    position: absolute;
    top:255px;
    width: 80%;
    
    display: none;
    opacity: 0.85;
    @media screen and (max-width:800px) {
      left:10%;
    }
  }
  &:hover{
    .image{
      opacity: 0.7;
    }
    .custom-button{
      display: flex;
    }
  }
  .collection-footer {
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-family: 'Open Sans Condensed', sans-serif;
    
    .name {
      width: 70%;
      margin-bottom: 15px;
    }

    .price {
      width: 30%;
    }
  }
}
